NODE_ENV=dev
PORT=3333

# Auth
JWT_SECRET=PalavraSecreta

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/apisolid?schema=public"

# PAGINATION
TAKE_PAGINATION=20

# PASSWORD
PASSWD_MIN_LENGTH=6
PASSWD_MAX_LENGTH=20

#STRIPE GETWAY
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

#MAIL
RESEND_API_KEY=""